[submodule "resources/particles.js"]
	path = resources/particles.js
	url = https://github.com/VincentGarreau/particles.js.git
[submodule "resources/typed.js"]
	path = resources/typed.js
	url = https://github.com/mattboldt/typed.js.git
