@font-face {
    font-family: PoiretOne;
    src: url('resources/fonts/PoiretOne-Regular.ttf') format('truetype'),
    url('resources/fonts/PoiretOne-Regular.woff') format('woff'),
    url('resources/fonts/PoiretOne-Regular.eot#') format('eot'),
    url('resources/fonts/PoiretOne-Regular.svg') format('svg');
}

@font-face {
    font-family: Megrim;
    src: url(resources/fonts/Megrim.ttf);
}

/*############################################################*/

html,
body {
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    user-select: none;

    text-decoration: none;
}

body {
    display: flex;
    position: relative;

    width: 100vw;
    height: 100vh;

    flex-flow: column;
    justify-content: center;
    align-items: center;

    background-color: white;
}

#particles-js {
    position: absolute;

    width: 100vw;
    height: 100vh;
}

#typed1,
#typed2 {
    font-size: 5vw;
    font-family: PoiretOne;
}

#typed1 {
    display: inline-block;

    width: auto;
    height: 100%;

    font-weight: bold;

    z-index: 99;
}

#typed2 {
    display: inline-block;
    visibility: hidden;

    height: 100%;

    z-index: 100;
}

#container {
    display: flex;

    width: 100vw;
    height: auto;

    flex-flow: row nowrap;
    justify-content: center;

    z-index: 100;
}

#container div:last-child {
    display: inline-block;

    width: 5%;
    height: 100%;
}

svg {
    visibility: hidden;
}

#credit {
    display: inline-block;
    position: fixed;

    bottom: 0;
    left: 0;

    font-family: 'Megrim', cursive;
    font-size: 1.5vw;

    margin: 5px;
}

#testinfo {
    display: inline-block;
    position: fixed;

    bottom: 0;
    right: 0;

    font-family: 'Megrim', cursive;
    font-size: 15px;

    margin: 5px;
}

@media only screen and (max-width: 900px) {
    #typed1 {
        width: 100vw;

        padding: 0 2.5vw;

        font-size: 10vw;

        text-align: center;
        
    }
    #container > div:last-child {
        display: none;
    }
    
    #credit {
    font-size: 3vw;
}
}