@import url('https://fonts.googleapis.com/css?family=Megrim');

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    overflow: hidden;

    user-select: none;

    text-decoration: none;
}

body {
    display: flex;

    width: 100vw;
    height: 100vh;

    flex-flow: column;
    justify-content: center;
    align-items: center;

    background-color: white;
}

#particles-js {
    position: absolute;

    width: 100vw;
    height: 100vh;
}

@import url('https://fonts.googleapis.com/css?family=Poiret+One');
#typed1,
#typed2 {
    font-size: 5vw;
    font-family: 'Poiret One';
}

#typed1 {
    display: inline-block;

    width: auto;
    height: 100%;

    font-weight: bold;

    z-index: 99;
}

#typed2 {
    display: inline-block;
    visibility: hidden;

    height: 100%;

    z-index: 100;
}

#container {
    display: flex;

    width: 100vw;
    height: auto;

    flex-flow: row nowrap;
    justify-content: center;

    z-index: 100;
}

#container div:last-child {
    display: inline-block;

    width: 5%;
    height: 100%;
}

svg {
    animation-name: jackInTheBox;
    animation-delay: 5s;
}

footer {
    display: flex;
    position: absolute;

    bottom: 0;

    width: 100vw;
    height: auto;

    z-index: 100;
}


footer > p {
    font-family: 'Megrim', cursive;
    font-size: 15px;
    
    margin: 5px;
}

@media only screen and (max-width: 900px) {
    #typed1 {
        width: 100vw;
        
        padding: 0 2.5vw;
        
        font-size: 10vw;
        
        text-align: center;
    }
    #container > div:last-child{
        display: none;
    }
}